# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Python
- Java
- SQL
- NumPy
- SciPy

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
|----------------|
| Apache Spark |
| TensorFlow |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
(200/60)

3.3333333333333335

## Author
James Hawkins